In [1]:
import pandas as pd

In [13]:
# a
index = ['Tokio', 'Jakarta', 'Delhi', 'Seoul', 'Mumbai']
data = {
    'population': [37.3, 33.4, 29., 25.5, 24.4],
    'country': ['Japan', 'Indonesia', 'India', 'South Korea', 'India'],
    'area' : [13.5, 7.1, 3.5, 11.7, 4.4],
}

df = pd.DataFrame(data, index=index)
df

         population      country  area
Tokio          37.3        Japan  13.5
Jakarta        33.4    Indonesia   7.1
Delhi          29.0        India   3.5
Seoul          25.5  South Korea  11.7
Mumbai         24.4        India   4.4

In [47]:
# b
df['density'] = 1000 * df.population / df.area
df

         population      country  area      density
Tokio          37.3        Japan  13.5  2762.962963
Jakarta        33.4    Indonesia   7.1  4704.225352
Delhi          29.0        India   3.5  8285.714286
Seoul          25.5  South Korea  11.7  2179.487179
Mumbai         24.4        India   4.4  5545.454545

In [15]:
# c
df.loc[df.country == 'India']

        population country  area      density
Delhi         29.0   India   3.5  8285.714286
Mumbai        24.4   India   4.4  5545.454545

In [26]:
# d
df.loc[df.country != 'India', ['population', 'area']]

         population  area
Tokio          37.3  13.5
Jakarta        33.4   7.1
Seoul          25.5  11.7

In [32]:
# e
df.loc['Seoul', 'density']

2179.4871794871797

In [36]:
# f
df.iloc[4, 3]

5545.454545454545

In [48]:
# ...
df.density = df.density.apply(lambda x: round(x, 1))  # could do sth like df.density = df.density.apply(round)
df

         population      country  area  density
Tokio          37.3        Japan  13.5   2763.0
Jakarta        33.4    Indonesia   7.1   4704.2
Delhi          29.0        India   3.5   8285.7
Seoul          25.5  South Korea  11.7   2179.5
Mumbai         24.4        India   4.4   5545.5