<a href="https://colab.research.google.com/github/larsaars/pgki_uebungen/blob/main/klausur/10_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
# a
index = ['Tokyo', 'Jakarta', 'Delhi', 'Seoul', 'Mumbai']
data = {
    'population': [37.3, 33.4, 29., 25.5, 24.4],
    'country': ['Japan', 'Indonesia', 'India', 'South Korea', 'India'],
    'area': [13.5, 7.1, 3.5, 11.7, 4.4]
}
df = pd.DataFrame(data, index=index)
df

         population      country  area
Tokyo          37.3        Japan  13.5
Jakarta        33.4    Indonesia   7.1
Delhi          29.0        India   3.5
Seoul          25.5  South Korea  11.7
Mumbai         24.4        India   4.4

In [5]:
# b
df['density'] = 1000 * df.population / df.area
df.density = df.density.apply(lambda x : round(x, 1))
df

         population      country  area  density
Tokyo          37.3        Japan  13.5   2763.0
Jakarta        33.4    Indonesia   7.1   4704.2
Delhi          29.0        India   3.5   8285.7
Seoul          25.5  South Korea  11.7   2179.5
Mumbai         24.4        India   4.4   5545.5

In [12]:
# c
df.loc[df.country == 'India']

        population country  area  density
Delhi         29.0   India   3.5   8285.7
Mumbai        24.4   India   4.4   5545.5

In [13]:
# d
df.loc[df.country != 'India', ['population', 'area']]

         population  area
Tokyo          37.3  13.5
Jakarta        33.4   7.1
Seoul          25.5  11.7

In [17]:
# e
df.loc['Seoul', 'density']

2179.5

In [19]:
df.iloc[3, 3]

2179.5