<a href="https://colab.research.google.com/github/larsaars/pgki_uebungen/blob/main/klausur/klausur_gedankenprotokoll.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
# 5
index = ['Abdul-Jabbar', 'Malone', 'James', 'Bryant', 'Jordan']
data = {
    'points': [38.4, 37., 35.4, 33.6, 32.2],
    'games': [1560, 1476, 1310, 1346, 1072],
    'team': ['Lakers', 'Jazz', 'Chavaliers', 'Lakers', 'Bulls'],
}
pd.DataFrame(data, index=index)

              points  games        team
Abdul-Jabbar    38.4   1560      Lakers
Malone          37.0   1476        Jazz
James           35.4   1310  Chavaliers
Bryant          33.6   1346      Lakers
Jordan          32.2   1072       Bulls

In [ ]:
# 4